<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Grocery List</title>

</head>

<body>

    <!-- REMOVE ITEMS FROM THE FORM -->
    <div id="remove_items">
        
        <form action="/remove_items" method="post">
        
            {% for item in shopping_list %}
        
            <input type="checkbox" name="check" id="{{ item }}" value="{{ item }}">
        
            <label for="{{ item }}" name="{{ item }}">{{ item }}</label><br>
        
            {% endfor %}

            <input type="submit" value="REMOVE ITEMS">
        
        </form>

    </div>

    <!-- ADD ITEMS TO THE FORM -->
    <form action="/add_items" method="POST">
        
        <select name="select_items">
            
            {% for item in execute_data %}
            
            <option value="{{ item }}">{{ item }}</option>
            
            {% endfor %}
        
        </select>

        <input type="submit" value="ADD ITEM">
    </form>

</body>

</html>